@model acfisio.Models.ModelWrapper

<header class="site-header header-style-6">
    <div class="top-bar top-bar-liner bg-dark">
        <div class="container">
            <div class="row">
                <div class="mt-topbar-right clearfix">
                    <ul class="list-unstyled pull-right tb-info-liner">
                        <li><i class="text-primary">Fisioterapia Ortopédica e Hidroterapia!</i></li>
                    </ul>                        
                    <ul class="list-inline pull-right tb-social-liner">
                        <li><a href="https://instagram.com/fisio.anacarol?igshid=xjskjgtzbkhu" target="_blank" class="fa fa-instagram"></a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="main-bar header-middle bg-dark">
        <div class="container">
            <div class="logo-header">
                <a href="/">
                    <img class="logo" width="216" height="37" alt="" />
                </a>
            </div>
            <div class="header-info">
                <ul>
                    <li>
                        <div>
                            <div class="icon-sm">
                                <span class="icon-cell  text-primary"><i class="iconmoon-smartphone"></i></span>
                            </div>
                            <div class="icon-content">
                                <strong>Telefone</strong>
                                <span class="text-white">+55 11 9 4712-5517</span>
                            </div>
                        </div>
                    </li>                        
                    <li>
                        <div>
                            <div class="icon-sm">
                                <span class="icon-cell  text-primary"><i class="iconmoon-envelope"></i></span>
                            </div>
                            <div class="icon-content">
                                <strong>Email</strong>
                                <span class="text-white">contato@acfisioterapia.com.br</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar header-botton nav-bg-primary">
            <div class="container">
                <!-- NAV Toggle Button -->
                <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- MAIN Vav -->
                <div class="header-nav navbar-collapse collapse ">
                    <ul class=" nav navbar-nav">
                        @foreach (var menuItem in Model.Menu)
                        {
                            <li class="@(ViewContext.RouteData.Values["Action"].Equals(menuItem.Action) ? "active" : "")">
                                <a href="@menuItem.Action">@menuItem.Title @if(menuItem.SubMenu != null && menuItem.SubMenu.Any()){<i class="fa fa-chevron-down"></i>}</a>
                                @if (menuItem.SubMenu != null && menuItem.SubMenu.Any())
                                {
                                    <ul class="sub-menu">
                                        @foreach (var subMenuItem in menuItem.SubMenu)
                                        {
                                            <li><a href="@subMenuItem.Action">@subMenuItem.Title</a></li>
                                        }
                                    </ul>                                    
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
