<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Revolution/css")
    
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700" rel="stylesheet">
</head>
<body>
    <div class="page-wraper">
        @{Html.RenderPartial("_Header");}
        
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
                
    <button class="scroltop"><span class="fa fa-arrow-right relative" id="btn-vibrate"></span></button>

    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="loading_progress-container">
	            <div class="loading_progress">
		            <div class="loading_progress-bar">
			            <div class="loading_progress-shadow"></div>
		            </div>
	            </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/Revolution/scripts")
    <script type="text/javascript" src="~/Scripts/rev-script-3.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
